.Weather {
  border: 3px solid #697079;
  color: rgb(135, 135, 135);
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 16px;
  margin: 30px;
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.Weather h2 {
  margin: 24 0 0;
  display: block;
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -30px;
  margin-left: 1px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .description {
  text-transform: capitalize;
}
.Weather .temp {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 64px;
  font-weight: 400px;
}
.locate {
  background-color: antiquewhite;
  text-align: center;
}
